{% extends 'buylayout.html' %}
{#{% load crm %}#}
{% block content %}
    <br>
    <br>
         <form method="post" novalidate action="/data/search/">
    {% csrf_token %}
    <div class="row" style="margin-top: -30px">
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" id="ipholder" name="ipholder" placeholder="输入车名或类别进行搜索......">
                <span class="input-group-btn">
        <button class="btn btn-success" type="submit">搜索</button>

      </span>
            </div><!-- /input-group -->

        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
     </form>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>汽车名字</th>
                <th>经销商</th>
                <th>类别</th>
                <th>车主姓名</th>
                <th>车主电话</th>
                <th>车辆价格</th>
                <th>优惠信息</th>
                <th>里程信息</th>
                <th>车龄信息</th>
                <th>成交状态</th>
                <th>点我购买</th>
            </tr>
        </thead>
        <tbody>
            {% for row in buy_queryset %}
                <tr>
                    <td>{{ row.id }}</td>
                 <td>{{ row.carname }}</td>
                    <td>{{ row.carfirm }}</td>
                    <td>{{ row.cartype }}</td>
                    <td>{{ row.carsell }}</td>
                    <td>{{ row.carphone }}</td>
                    <td>{{ row.carsize }}</td>
                    <td>{{ row.carbetter }}</td>
                    <td>{{ row.carother }}</td>
                    <td>{{ row.carage }}</td>
                    <td>{{ row.catstatus }}</td>
                    <td>
                        <a href="/data/buy/{{ row.id }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="bot">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg"
                style="float: right;margin-right: 50px;margin-top: 50px;">
                {{ page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}